

		.login {
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  background: #dde5f4;
		
	  		}

		.screen-1 {
		  background: #f1f7fe;
		  padding: 2em;
		  display: flex;
		  flex-direction: column;
		  border-radius: 30px;
		  box-shadow: 0 0 2em #e6e9f9;
		  gap: 2em;
		}
		.screen-1 .logo {
		  margin-top: -3em;
		}
		.screen-1 .email {
		  background: white;
		  box-shadow: 0 0 2em #e6e9f9;
		  padding: 1em;
		  display: flex;
		  flex-direction: column;
		  gap: 0.5em;
		  border-radius: 20px;
		  color: #4d4d4d;
		  margin-top: -3em;
		}
		.screen-1 .email input {
		  outline: none;
		  border: none;
		}
		.screen-1 .email input::-moz-placeholder {
		  color: black;
		  font-size: 0.9em;
		}
		.screen-1 .email input:-ms-input-placeholder {
		  color: black;
		  font-size: 0.9em;
		}
		.screen-1 .email input::placeholder {
		  color: black;
		  font-size: 0.9em;
		}
		.screen-1 .email ion-icon {
		  color: #4d4d4d;
		  margin-bottom: -0.2em;
		}
		.screen-1 .password {
		  background: white;
		  box-shadow: 0 0 2em #e6e9f9;
		  padding: 1em;
		  display: flex;
		  flex-direction: column;
		  gap: 0.5em;
		  border-radius: 20px;
		  color: #4d4d4d;
		  margin-top: 11px;

		}
		.screen-1 .password input {
		  outline: none;
		  border: none;
		}
		.screen-1 .password input::-moz-placeholder {
		  color: black;
		  font-size: 0.9em;
		}
		.screen-1 .password input:-ms-input-placeholder {
		  color: black;
		  font-size: 0.9em;
		}
		.screen-1 .password input::placeholder {
		  color: black;
		  font-size: 0.9em;
		}
		.screen-1 .password ion-icon {
		  color: #4d4d4d;
		  margin-bottom: -0.2em;
		}
		.screen-1 .password .show-hide {
		  margin-right: -5em;
		}
		.screen-1 .login {
		  padding: 10px 20px;
		  background: #3e4684;
		  color: white;
		  border: none;
		  border-radius: 30px;
		  font-weight: 600;
		  margin-top: 24px;
		}
		.screen-1 .footer {
		  display: flex;
		  font-size: 0.7em;
		  color: #5e5e5e;
		  gap: 14em;
		  padding-bottom: 10em;
		}
		.screen-1 .footer span {
		  cursor: pointer;
		}

		button {
		  cursor: pointer;
		}
		.card {
		    background: #fff;
		    transition: .5s;
		    border: 0;
		    margin-bottom: 30px;
		    border-radius: .55rem;
		    position: relative;
		    width: 100%;
		    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
		}
		.chat-app .people-list {
		    width: 280px;
		    position: absolute;
		    left: 0;
		    top: 0;
		    padding: 20px;
		    z-index: 7
		}

		.chat-app .chat {
		    margin-left: 280px;
		    border-left: 1px solid #eaeaea
		}

		.people-list {
		    -moz-transition: .5s;
		    -o-transition: .5s;
		    -webkit-transition: .5s;
		    transition: .5s
		}

		.people-list .chat-list li {
		    padding: 10px 15px;
		    list-style: none;
		    border-radius: 3px
		}

		.people-list .chat-list li:hover {
		    background: #efefef;
		    cursor: pointer
		}

		.people-list .chat-list li.active {
		    background: #efefef
		}

		.people-list .chat-list li .name {
		    font-size: 15px
		}

		.people-list .chat-list img {
		    width: 45px;
		    border-radius: 50%
		}

		.people-list img {
		    float: left;
		    border-radius: 50%
		}

		.people-list .about {
		    float: left;
		    padding-left: 8px
		}

		.people-list .status {
		    color: #999;
		    font-size: 13px
		}

		
		.chat .chat-header {
		    padding: 15px 20px;
		    border-bottom: 2px solid #f4f7f6;
			width: 100%;
			position: sticky;
			top: 0;
			background-color: #efefef;
			z-index: 10;
		}

		.chat .chat-header img {
		    float: left;
		    border-radius: 40px;
		    width: 40px
		}

		.chat .chat-header .chat-about {
		    float: left;
		    padding-left: 10px
		}

		.chat .chat-history {
		    padding: 20px;
		    border-bottom: 2px solid #fff;
			overflow-y:scroll;
			max-height:750px;
			scroll-behavior: smooth;
		}
		.chat .chat-history::-webkit-scrollbar  {
			display:none;
		}
		.chat .chat-history ul {
		    padding: 0
		}

		.chat .chat-history ul li {
		    list-style: none;
		    margin-bottom: 30px
		}

		.chat .chat-history ul li:last-child {
		    margin-bottom: 0px
		}

		.chat .chat-history .message-data {
		    margin-bottom: 15px;
			    display: flex;
			    gap: 10px;
		}

		.chat .chat-history .message-data img {
		    border-radius: 40px;
		    width: 40px
		}

		.chat .chat-history .message-data-time {
			    font-family: emoji;
			    color: #200909;
			    padding-left: 6px;
			    font-size: 10px;
			    font-weight: bolder;
		}

		.chat .chat-history .message {
		    color: #444;
		    padding: 18px 20px;
		    line-height: 26px;
		    font-size: 16px;
		    border-radius: 7px;
		    display: inline-block;
		    position: relative
		}

		.chat .chat-history .message:after {
		    bottom: 100%;
		    left: 7%;
		    border: solid transparent;
		    content: " ";
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		    border-bottom-color: #fff;
		    border-width: 10px;
		    margin-left: -10px
		}

		.chat .chat-history .my-message {
		    background: #efefef
		}

		.chat .chat-history .my-message:after {
		    bottom: 100%;
		    left: 30px;
		    border: solid transparent;
		    content: " ";
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		    border-bottom-color: #efefef;
		    border-width: 10px;
		    margin-left: -10px
		}

		.chat .chat-history .other-message {
		    background: #e8f1f3;
		    text-align: right
		}

		.chat .chat-history .other-message:after {
		    border-bottom-color: #e8f1f3;
		    left: 93%
		}

		.chat .chat-message {
		    padding: 20px
		}
		.chat-history {
		  
		    overflow-y: scroll;
		}
		.online,
		.offline,
		.me {
		    margin-right: 2px;
		    font-size: 8px;
		    vertical-align: middle
		}

		.online {
		    color: #86c541
		}

		.offline {
		    color: #e47297
		}

		.me {
		    color: #1d8ecd
		}

		.float-right {
		    float: right
		}
        .chat-message{
			position:sticky;
			bottom:0;
		}
		.clearfix:after {
		    visibility: hidden;
		    display: block;
		    font-size: 0;
		    content: " ";
		    clear: both;
		    height: 0
		}
		.input-group-text {
			padding: 10px;
		}
		 .chat-head-setting {
		    align-items: center;
		    display: flex;
		    justify-content: end;
		}
		
		.name-date{
			    display: flex;
			    flex-direction: column;
			    align-items: center;
			    justify-content: center;
		}
		.name-date span{
			text-align:end;
		}

		.name-date span:first-child {
			font-size:15px !important;
		    
		}

		@media only screen and (max-width: 767px) {
		    .chat-app .people-list {
		        height: 465px;
		        width: 100%;
		        overflow-x: auto;
		        background: #fff;
		        left: -400px;
		        display: none
		    }
		    .chat-app .people-list.open {
		        left: 0
		    }
		    .chat-app .chat {
		        margin: 0
		    }
		    .chat-app .chat .chat-header {
		        border-radius: 0.55rem 0.55rem 0 0
		    }
		    .chat-app .chat-history {
		        height: 300px;
		        overflow-x: auto
		    }
		}

		@media only screen and (min-width: 768px) and (max-width: 992px) {
		    .chat-app .chat-list {
		        height: 650px;
		        overflow-x: auto
		    }
		    .chat-app .chat-history {
		        height: 600px;
		        overflow-x: auto
		    }
		}

		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
		    .chat-app .chat-list {
		        height: 480px;
		        overflow-x: auto
		    }
		    .chat-app .chat-history {
		        height: calc(100vh - 350px);
		        overflow-x: auto
		    }
		}